@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">basicCRM</h1>
    <p>Oil & Gas Company Customer Database keeping records of existing customers and market opportunities for products such as Gas & Power</p>
</div>
